<link rel="import" href="../../../../bower_components/polymer/polymer.html">
<link rel="import" href="../../../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../vitrasa/vitrasa-lines.html">

<dom-module id="app-lines">
    <template>
        <style>
            :host {
                display: block;
                margin: 0 auto;
                max-width: 1000px;
                padding: 0 1rem;
            }
            :host h2 {
                margin: 0;
                padding: 1.5rem;
                text-align: center;
                font-weight: normal;
                font-size: 1.5rem;
            }
            @media screen and (min-width: 1000px) {
                :host h2 {
                    font-size: 3rem;
                }
            }
        </style>
        <iron-ajax
            auto
            url="/vitrasa/lines"
            last-response="{{lines}}"
            ></iron-ajax>
        <iron-ajax
            id="req"
            method="post"
            content-type="application/x-www-form-urlencoded"
            url="/usuarios/lineas-favoritas"
            on-response="handleResponse"></iron-ajax>
        <h2>Lineas</h2>
        <vitrasa-lines
            lines="{{lines}}"
            icon="add"
            on-btn-click="handleClick"></vitrasa-lines>
    </template>
    <script>
        (function () {
            Polymer({
                is: 'app-lines',
                handleClick: function (e) {
                    this.$.req.body = e.detail;
                    this.$.req.generateRequest();
                },
                handleResponse: function (e, res) {
                    if (res.response != null) {
                        console.log(res.response);
                    } else {
                        window.location.hash = '#/login';
                    }
                }
            });
        })()
    </script>
</dom-module>
