<link rel="import" href="../../../../bower_components/polymer/polymer.html">
<link rel="import" href="../../../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../../../bower_components/iron-icon/iron-icon.html">
<link rel="import" href="../vitrasa/vitrasa-lines.html">

<dom-module id="app-profile">
    <template>
        <style>
            :host {
                display: block;
                margin: 0 auto;
                max-width: 1000px;
                padding: 0 1rem;
                text-align: center;
            }
            :host h2 {
                margin: 0;
                padding: 1.5rem;
                text-align: center;
                font-weight: normal;
                font-size: 1.5rem;
            }
            :host h3 {
                margin: 0;
                padding: 1.5rem;
                text-align: center;
                font-weight: normal;
                font-size: 1.3rem;
            }
            :host ul {
                border: 2px solid var(--primary-color);
                border-radius: 5px;
                padding: 1em;
            }
            :host li {
                list-style: none;
                display: flex;
                justify-content: space-between;
            }
            :host button {
                border: none;
                max-width: 150px;
                background: var(--primary-color);
                color: var(--background-light-color);
                padding: 1em;
                text-align: center;
                font-weight: bold;
                border-radius: 5px;
                box-shadow: 1px 3px 3px rgba(0, 0, 0, 0.3);
                cursor: pointer;
            }
            :host button:hover {
                box-shadow: 1px 3px 10px rgba(0, 0, 0, 0.3);
            }
            @media screen and (min-width: 1000px) {
                :host h2 {
                    font-size: 3rem;
                }
                :host h3 {
                    font-size: 2rem;
                }
                :host ul {
                    font-size: 1.3em;
                }
            }
        </style>
        <iron-ajax
            id="req"
            url="/usuarios/logout"
            on-response="handleResponse"
            ></iron-ajax>
        <iron-ajax
            id="reqLines"
            url="/usuarios/lineas-favoritas"
            method="post"
            content-type="application/x-www-form-urlencoded"
            params='{"_method": "delete"}'
            on-response="lineDeleted"></iron-ajax>
        <h2>Perfil</h2>
        <template is="dom-if" if="{{body.username}}">
            <ul>
                <li><b>Username:</b><span>{{body.username}}</span></li>
                <li><b>Nombre:</b><span>{{body.name}}</span></li>
                <li><b>Apellidos:</b><span>{{body.second}}</span></li>
                <li><b>DNI:</b><span>{{body.dni}}</span></li>
                <li><b>email:</b><span>{{body.email}}</span></li>
                <li><b>Teléfono:</b><span>{{body.phone}}</span></li>
            </ul>
            <h3>Lineas favoritas</h3>
            <vitrasa-lines
                lines="{{lines}}"
                icon="close"
                on-btn-click="deleteLine"></vitrasa-lines>
            <button type="button" on-click="handleClick">
                Logout
                <iron-icon icon="exit-to-app"></iron-icon>
            </button>
        </template>
        <template is="dom-if" if="{{!body.username}}">
            <div>
                <h4>No estás logueado</h4>
                <a href="#/login">Login</a>
            </div>
        </template>
    </template>
    <script>
        (function () {
            Polymer({
                is: 'app-profile',
                properties: {
                    body: {
                        type: Object,
                        value: function () {
                            return {};
                        }
                    },
                    lines: {
                        type: Object,
                        value: function () {
                            return [];
                        }
                    }
                },
                handleClick: function () {
                    this.$.req.generateRequest();
                },
                handleResponse: function () {
                    window.location.hash = '#/';
                },
                deleteLine: function (e) {
                    e.stopPropagation();
                    this.$.reqLines.body = e.detail;
                    this.$.reqLines.generateRequest();
                },
                lineDeleted: function (e, res) {
                    if (res.response != null) {
                        console.log(res.response);
                        this.lines = this.lines.filter((el) => {
                            return el.id.toLowerCase() === res.response.id.toLowerCase()
                                ? false : el;
                        });
                    } else {
                        window.location.hash = '#/login';
                    }
                }
            });
        })();
    </script>
</dom-module>
