<link rel="import" href="../../../../bower_components/polymer/polymer.html">
<link rel="import" href="../../../../bower_components/app-route/app-location.html">
<link rel="import" href="../../../../bower_components/app-route/app-route.html">
<link rel="import" href="../../../../bower_components/iron-pages/iron-pages.html">
<link rel="import" href="../sections/app-home.html">
<link rel="import" href="../sections/app-stops.html">
<link rel="import" href="../sections/app-lines.html">
<link rel="import" href="../sections/app-login.html">
<link rel="import" href="../sections/app-new-user.html">
<link rel="import" href="../sections/app-profile.html">

<dom-module id="app-main-pages">
    <template>
        <style>
            :host {
                display: block;
                margin-top: 4em;
            }
        </style>
        <iron-ajax
            id="req"
            url="/usuarios/perfil"
            on-response="handleResponse"
            last-response="{{body}}"
            ></iron-ajax>
        <iron-pages
            id="pages"
            selected="{{computedPage}}"
            attr-for-selected="data-page"
            fallback-selection="not-found"
            on-iron-select="onChange">
                <app-home data-page=""></app-home>
                <app-lines data-page="lineas"></app-lines>
                <app-stops data-page="paradas" tab="{{tail}}"></app-stops>
                <app-login data-page="login"></app-login>
                <app-new-user data-page="signin"></app-new-user>
                <app-profile data-page="perfil" body="{{body}}"></app-profile>
                <div data-page="not-found">Not found</div>
        </iron-pages>
    </template>
    <script>
        (function () {
            Polymer({
                is: 'app-main-pages',
                properties: {
                    page: {
                        type: String,
                        value: ''
                    },
                    computedPage: {
                        type: String,
                        computed: '_computePage(page)'
                    },
                    tail: {
                        type: String,
                        value: ''
                    }
                },
                onChange: function () {
                    if (this.$.pages.selected === 'perfil') {
                        this.$.req.generateRequest();
                    }
                },
                handleResponse: function (e, res) {
                    if (res.response == null) {
                        window.location = "#/login"
                    }
                },
                _computePage: function (page) {
                    return page || '';
                }
            });
        })()
    </script>
</dom-module>
